[submodule "external/krkrz"]
	path = external/krkrz
	url = https://github.com/krkrsdl2/krkrz.git
[submodule "external/simde"]
	path = external/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "external/FAudio"]
	path = external/FAudio
	url = https://github.com/FNA-XNA/FAudio.git
